#calendarBody {
    display: flex;
}

#calendarMonth {
    margin: 0 30px;
}

.days {
    border: black 1px solid;
width: 100px;
height: 100px;
}

#weeks_1,
#weeks_2,
#weeks_3,
#weeks_4,
#weeks_5
 {
    display: flex;
    margin: 2px 0;
  border: black 1px solid;
  width
}

#weeks-days {
    display: flex;
}

.daily {
    border: black 1px solid;
    width: 100px;
    height: 30px;
    text-align: center;
}

#monthName {
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}